html{
    overflow-x: hidden;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #4f4f7f;
}
.nav-link {
    color: #4f4f7f;
}

body {
    margin: 0px;
    padding: 0px;
}

input[type="button"] {
    padding: 5px;
    width: 30px;
    margin: 0px 0px 2px 0px;
}

.selects {
    text-align: center;
}

.map {
    width: 900px;
    height: 900px;
    margin: 0 auto;
}

.worldTitle {
    text-align: center;
}

.world_select {
    font-size: x-large;
    text-align: right;
}

.event_select { 
    font-size: x-large;
    text-align: left;
}

#container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chart{
    position: absolute;
    top: 0;
}

#players{
    width: 12vw;
    position: fixed;
    display: flex;
    overflow: scroll;
    min-height: 50vh;
    max-height: 80vh;
}

#checkbox{
    margin-left: 5;
}

#days-container{
    margin: 0 auto;
    width: 20vw;
    align-self: center;
    text-align: center;
}

#playerList{
    
    list-style-type: none;
    margin-bottom: 50px;
}


